@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

body {
    font-family: 'poppins';
    background-color: #242933;
}

p {
    display: block;
    width: 278px;
    margin: 3px auto;
    font-size: 12px;
    color:#7f89aa;
} 

h1 {
    display: block;
    margin:auto;
    height: 30px;
    width: 285px;
    line-height: 10px;
    margin-top: 35px;
    font-size: 23px;
    color: #afbde5;
}

form {
    font-size:11.5px;
    font-weight: 550;
    background-color: #2f3644;
    border: 2px solid #40465d;
    border-radius: 5px;
}

span {
    display: block;
    margin: 5px 30px;
    width: 278px;
    font-size: 10px;
    color: #fe5f55;
}

.formContainer {
    max-width: 340px;
    margin: 0 auto;
}

.formElement {
    display: block;
    margin: auto;
    height: 32px;
    width: 270px;
    border: 2px solid;
    border-radius: 5px;
    border-color: #40465d;    
    text-indent: 10px;
    outline: none;
    transition: 0.3s;

}

.inputContainer {
    margin: 1em auto;
    height: 70px;
    display: block;
}

.valid {
    border-color: #50ce67;
    border-radius: 3px;
}

.invalid {
    border-color: #fe5f55;
    border-radius: 3px;
}

.errorIcon {
    background-image: url('images/error-icon.svg');
    background-repeat: no-repeat;
    background-size: 15px;
    background-position-x: 250px;
    background-position-y: 10px;
}

.successIcon {
    background-image: url('images/success-icon.svg');
    background-repeat: no-repeat;
    background-size: 15px;
    background-position-x: 250px;
    background-position-y: 10px;
}

#button {
    display: block;
    width: 82%;
    height: 40px;
    margin: 15px auto 20px;
    font-size: 11px;
    font-weight: 500;
    color: white;
    background-color: #6c63ff;
    border: 2px #090916 solid;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.5s;
}

.borderColor {
    background: #4b44d1 !important;
}